.filterButtons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  width: 60%;
  margin-top: 5rem;
}

.buttons {
  width: 60px;
  height: 60px;
  border: none;
  background-color: transparent;
  color: hsl(230, 92%, 10%);
  font-weight: 700;
}
.buttons :hover {
  width: 66px;
  height: 66px;
  cursor: pointer;
}
.buttons img {
  width: 40px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
}
