.searchBar {
  width: 98%;
  background-color: hsl(209, 13%, 38%);
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
  width: 100vw;
  border-bottom: 2px solid hsl(230, 92%, 10%);
  box-shadow: 1px 0px 5px 1px hsl(231, 91%, 5%);
}

.RedditLogo {
  float: left;
  padding-left: 2rem;
  margin-top: 1.5rem;
  width: 65px;
  height: 65px;
}
.headingBegin {
  float: left;
  padding-left: 0.25rem;
  padding-top: 1rem;
  color: hsl(230, 92%, 10%);
  font-size: 30px;
}
.headingEnd {
  color: hsl(16, 100%, 50%);
  font-size: 40px;
  font-family: "Baloo Chettan 2", cursive;
  font-weight: 200;
}
.formContainer {
  display: flex;
  flex-direction: row;
  width: 50%;
}

.searchBox {
  float: left;
  width: 60%;
  height: 50px;
  margin-top: 1.5rem;
  margin-left: 3rem;
  border-radius: 5px;
  color: rgb(255, 68, 0);
  background-color: hsla(210, 7%, 78%, 0.992);
  font-size: 20px;
  border: 2px solid hsl(230, 92%, 10%);
  box-shadow: 1px 0px 5px 1px hsl(231, 91%, 5%);
}
.subButton {
  background-color: hsla(210, 7%, 78%, 0.992);
  width: 52px;
  height: 50px;
  margin-top: 1.75rem;
  margin-right: 3rem;
  margin-left: 0.5rem;
  border-radius: 5px;
  border: 2px solid hsl(230, 92%, 10%);
  box-shadow: 1px 0px 5px 1px hsl(231, 91%, 5%);
  font-size: 1rem;
  color: hsl(230, 92%, 10%);
  font-weight: bold;
}

.subButton:hover {
  background-color: hsla(210, 7%, 78%, 0.712);
  cursor: pointer;
}
